<div class="tailsWebs_wrap">
  <div class="tailsWebs_heading">tailswebs</div>
  <div class='tailsWebs_login'>
    
    <% if flash[:alert].present? %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with(url: login_path, local: true) do |form| %>
      <div class="input_section">
        <%= form.label :username, class: "input_label" %>
        <div class="input_box">
          <%= image_tag "user.png", alt:"icon", class:"input_img" %>
          <%= form.text_field :username, class: "input_field" %>
        </div>
      </div>

      <div class="input_section">
        <%= form.label :password, class: "input_label" %>
        <div class="input_box">
          <%= image_tag "padlock.png", alt:"icon", class:"input_img" %>
          <%= form.password_field :password, class: "input_field" %>
        </div>
      </div>

      <div class="forget_link" >Forget Password</div>

      <div class="login_wrap">
        <%= form.submit "Login", class: "login_button" %>
      </div>
    <% end %>
  </div>
</div>